<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings />
		<client />
		<services>
			<service name="WcfService.WcfService" behaviorConfiguration="mainBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8787/Design_Time_Addresses/WcfService/" />
						<add baseAddress="net.tcp://localhost:8788/Design_Time_Addresses/WcfService/" />
					</baseAddresses>
				</host>
				<endpoint address="Admin" binding="basicHttpBinding" contract="WcfService.IAdmin">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="User" binding="netTcpBinding" contract="WcfService.IUser">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
				<!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mainBehavior">
					<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="False" />
					<serviceThrottling maxConcurrentCalls="1"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>